## Climate Change: Earth Surface Temperature Data

We are going to work on the above dataset from kaggle. 

It contains 3 csv files:

    GlobalLandTemperaturesByCity.csv 
    GlobalLandTemperaturesByCountry.csv
    GlobalTemperatures.csv

Load all the files and answer the questions. Once you are able to draw the insights, create a kernel on Kaggle with the same.

In [1]:
import numpy as np
import pandas as pd
import math
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
city = pd.read_csv('GlobalLandTemperaturesByCity.csv')
country = pd.read_csv('GlobalLandTemperaturesByCountry.csv')
global_temp = pd.read_csv('GlobalTemperatures.csv')

### View the data (Pandas week1)

In [3]:
city.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [4]:
city.shape

(8599212, 7)

In [5]:
country.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [6]:
country.shape

(577462, 4)

In [7]:
global_temp.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
global_temp.shape

(3192, 9)

### Unique countries in dataframe city (Pandas week1)

Qn 1. Find count of countries in the dataframe city

### Boolean Indexing (Pandas week1)

Qn 2. Create a new dataframe called India from city by selecting only the rows that contain India in the column Country

The dataframe India contains data of 391 unique cities.

### Groupby: Split-Apply-Combine (Pandas week2)

### Data Aggregated per Month

Qn 3. Find mean temperatures in Indian cities by month and save it as India_mean_temperature_monthly. Months can be represented from 1 to 12.

Qn 4. Plot a graph of India_mean_temperature_monthly created above for the following list of cities. 

top_cities = ['Ahmadabad', 'Calcutta', 'Madras','New Delhi', 'Bombay', 'Srinagar']


For all the timeseries plots in this lab,
    Set figure size to (12,5)  for better visualization. 
    Include X and Y labels and title of the plot.

### Data Aggregated per Year (Pandas Week2)
Qn 5. Find mean temperatures in Indian cities by Year and save it in dataframe India_mean_temperature_yearly. 

Qn 6. Filter the dataframe for the same list of cities listed above and Plot a graph of mean temperatures over Years.

### Handling missing data (Pandas Week2)
The dataframe India_mean_temperature_yearly has many NaN values in the column AverageTemperature. That leads the the plot with broken lines. 
We can either drop the rows with missing values or fill the missing values with mean temperatures for that city/month. Dropping rows will result in inconsistent rows so filling seems to be a better option.

Qn 7. Fill the missing values in dataframe India mean temperatures for that city.

Qn 8. Plot the graph above using the new dataframe to see whether the broken lines are handled.

### Trend in Global Temperature (Data Visualization)

Qn 9. Resample global temperature data yearwise (Resample('A') will resample by year) and find the mean. 

Qn 10. Plot the LandAverageTemperature of the resulting dataframe to see if the mean global temperature is rising or not.

The global mean temperature graph is definitely showing an upward trend. We can use the dataframe country to further evaluate whether the upward trend is uniform or contributed by some selected countries.

### Countries with Minimum and Maximum temperature difference over years

Qn 11. Use the dataframe country to find the countries with the highest and the lowest difference between average minimum and maximum temperatures per year. The new dataframe country_diff should have 4 columns, Country, min, max, diff. 

Create two lists from this dataframe which will be used to filter the dataframe country in the next question.

    country_list_max = country_diff.nlargest(10, columns = 'diff').Country.tolist()
    country_list_min = country_diff.nsmallest(10, columns = 'diff').Country.tolist()

### Plot the AverageTemperature for countries with the highest temperature difference:

Qn 12. Find the mean yearly temperature for the dataframe country. Filter this dataframe to select top 10 countries with highest difference in the minimum and maximum temperatures. The countries are given in the country_list here. 

country_list_max = ['Svalbard And Jan Mayen',
 'Uzbekistan',
 'Turkmenistan',
 'Kazakhstan',
 'Canada',
 'Ukraine',
 'Greenland',
 'Finland',
 'Denmark',
 'Mongolia']

### Plot the AverageTemperature for countries with the lowest temperature difference:

Qn 13. Find the mean yearly temperature for the dataframe country. Filter this dataframe to select only top 10 countries with lowest difference in the minimum and maximum temperatures. The countries are given in the country_list here.

country_list = ['Chile',
 'Sri Lanka',
 'Palau',
 'Guam',
 'Northern Mariana Islands',
 'Guam',
 'Northern Mariana Islands',
 'Samoa',
 'American Samoa',
 'Reunion',
 'Indonesia',
 'Somalia']

The increase in temperature is not very evident in both the plots. Also the earlier data doesn't seem to be very reliable. Let's repeat the exercise by first filtering the dataframe country to only represent data after 1900.

### Filter rows: Select data after 1900 to avoid large gaps

Qn 14. Create a new dataframe country_filtered from the dataframe country to select rows that represent data after 1900.
Find the mean yearly temperature for the dataframe country_filtered. Filter this dataframe to select top 10 countries with highest difference in the minimum and maximum temperatures. You will be able to create a new country_list_max which would be different from the one created above with the change in the data.

Plot the averageTemperature for countries with the highest temperature difference.

Qn 15. Create a new dataframe country_filtered from the dataframe country to select rows that represent data after 1900.
Find the mean yearly temperature for the dataframe country_filtered. Filter this dataframe to select top 10 countries with the lowest difference in the minimum and maximum temperatures. You will be able to create a new country_list_min which would be different from the one created above with the change in the data.

Plot the averageTemperature for countries with the lowest temperature difference.

The countries on Nothern and southern hemispheres seems to have witnessed significantly more global warming compared to the tropical countries.

### Temperature Comparison of Developed Vs. Developing nations:

Qn 16. Compare the temperature of select develped nations vs developing nations.

Filter the dataframe country using the following lists to create two new dataframes, developing_df and developed_df

developed = ['United States', 'United Kingdom', 'France', 'Germany', 'Japan', 'Canada', 'Switzerland', 'Norway', 'Sweden', 'South Korea', 'Australia']
developing = ['China', 'India', 'Columbia', 'Brazil', 'Mexico', 'Indonesia', 'Philippines', 'Maldives', 'Turkey', 'South Africa', 'Libya']


Plot both developed_df and developing_df on the same plot using seaborn regplot that shows the regression line. Include the legend.

### Predicting temperature using Linear regression

Qn 17. Apply Linear regression on the dataframe developed_df and developing_df. Find coefficient and intercept for both the dataframes.

Qn 18. predict the temperatures in developed and developing countries in the year 2025.

In [11]:
from sklearn import linear_model

#developed_df = developed_df[developed_df['dt'] > 1900]

#X = developed_df['dt'].values.reshape(-1, 1)
#y = developed_df['AverageTemperature']