<img src="https://www.digitalvidya.com/wp-content/uploads/2013/05/Digital-Vidya-Website-Logo-HD-2-300x95.png">

# Starting with your journey in Python Programming

Hello, welcome to the Basic Python Programming Course.

In this chapter our main aim is to make you comfortable with the Jupyter Notebook, writing code, exploring Python Programming syntax, basic math Library, and debugging. With this assignment and in the next chapter or so, we would like to cross the limitation of **never programmed before**.

In this chapter we are going to explore the basic datatypes and variables, basic math operators, comparison operators.



All the very best. Your effort is well spent. Do not hurry up.
<br>And most important Have FUN.
<br>Happy coding!!


Develop a passion for learning. If you do, you will never cease to grow.
                                                                        - Anthony J. D'Angelo
                                                                        
Success is not final, failure is not fatal: it is the courage to continue that counts. 
                                                                        - Winston Churchill

With all being said lets begin the journey, its our promise you will enjoy it.

# Variables and Overview of data types

### What is a Variable?
A variable is something that holds a value that may change. In simplest terms, a variable is just a box that you can put stuff in. You can use variables to store all kinds of stuff, but for now, we are just going to look at storing numbers in variables.

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

### What is a data-type?
In Python, like in all programming languages, data types are used to classify one particular type of data. This is important because the specific data type you use will determine what values you can assign to it and what you can do to it (including what operations you can perform on it).

eg.&emsp;Lamborgini is an object of data type "car". 
<br>&emsp;&emsp; Can "Bajaj Yamaha" be an object of type "car"?
<br>&emsp;&emsp; No, because "Bajaj Yamaha" is a bike.
<br>&emsp;&emsp; This is the significance of data type.

<font color=orange>### IMPORTANT NOTE </font>
<br>Python provides extensive documentation for all it syntax, library etc.
Make sure that you start to become comfortable in referring to it.
Here is the link to the basic built-in data types.

Refer : https://docs.python.org/3.6/library/stdtypes.html


<font color=orange>### IMPORTANT NOTE </font>
<br> '=' operator is used for assigning value to a variable. 

In the following code, we are assigning a value 10 to variable x.

In [1]:
x = 10

<font color=orange>### IMPORTANT NOTE </font>
<br>In Python keywords, numbers and functions will always be green in colour.

We can find the type of a variable using the type function. 
<br> Execute the code by pressing "Shift Enter"
<br> And you will see that the function returns one of the basic data types (int, float, str)

In [2]:
type(x)

int

In the following code, we are assigning a value 4.9 to variable y

In [4]:
y = 4.9

Lets see what is the datatype of y
<br> type and datatype can be used alternatively.

Follow the same steps as the ones in the previous question

In [5]:
type(y)

float

You can change the type of a variable. This phenomenon is called as type casting.

Type casting is useful for improving precision. Precision is very important for data analysis

In [6]:
float(x)

10.0

There is a problem with type casting, if a higher precision datatype is type casted to lower precision datatype there is loss of data.

In [7]:
int(y)

4

You can see that 4.9 is converted to 4 thus, there is loss of data.

# Operators

Python language supports the following types of operators.

Arithmetic Operators<br>
Comparison (Relational) Operators<br>
Assignment Operators<br>
Logical Operators<br>
Membership Operators<br>

** First lets clear out the concept of operators and operands. **

Operators are special tokens that represent computations like addition, multiplication and division,etc.<br>The values the operator works on are called operands.

Lets go over all the types of operators

# 1.0  Arithmetic Operators

<tbody>
		<tr>
			<th style="text-align:center;">Operator</th>
			<th style="text-align:center;width:45%">Meaning</th>
			<th style="text-align:center;">Example</th>
		</tr>
		<tr>
			<td style="text-align:center;">+</td>
			<td style="text-align:center;">Add two operands or unary plus</td>
			<td style="text-align:center;">x + y<br>
			</td>
		</tr>
		<tr>
			<td style="text-align:center;">-</td>
			<td style="text-align:center;">Subtract right operand from the left or unary minus</td>
			<td style="text-align:center;">x - y<br></td>
		</tr>
		<tr>
			<td style="text-align:center;">\**</td>
			<td style="text-align:center;">Multiply two operands</td>
			<td style="text-align:center;">x \** y</td>
		</tr>
		<tr>
			<td style="text-align:center;">/</td>
			<td style="text-align:center;">Divide left operand by the right one (always results into float)</td>
			<td style="text-align:center;">x / y</td>
		</tr>
		<tr>
			<td style="text-align:center;">%</td>
			<td style="text-align:center;">Modulus - remainder of the division of left operand by the right</td>
			<td style="text-align:center;">x % y (remainder of x/y)</td>
		</tr>
		<tr>
			<td style="text-align:center;">//</td>
			<td style="text-align:center;">Floor division - division that results into whole number adjusted to the left in the number line</td>
			<td style="text-align:center;">x // y (quotient of x/y)</td>
		</tr>
		<tr>
			<td style="text-align:center;">&#42;&#42;</td>
			<td style="text-align:center;">Exponent - left operand raised to the power of right</td>
			<td style="text-align:center;">x&#42;&#42;y (x to the power y)</td>
		</tr>
	</tbody>

Please refer the operators given in the table to solve following questions

Given that

In [10]:
a = 5
b = 10

### Addition of two numbers
Whenever you need to display the result you need to use **print** function.

In [11]:
print(a+b)

15

### Subtraction of two numbers

In [12]:
print(a-b)

-5

### Multiplication of two numbers

In [13]:
print(a*b)

50

### Division of two numbers

In [14]:
print(a/b)

0.5

### Modulus operation for finding the remainder obtained when a is divided by b

In [15]:
print(a % b)

5

### Exponentiation operation: A number is raised to another number

In [16]:
print(a**b)

9765625

### Floor Division of two numbers for finding the quotient obtained when a is divided by b 

**Short revision**

eg. a = 3 <br>
    b = 2 <br>
    a/b - > <br>
<span style="display:inline-block; width: 45px;"></span>quotient = 1 <br>
<span style="display:inline-block; width: 45px;"></span>remainder = 1 <br>

Now try to find out the exact operator from the table given above which can give you the quotient

In [17]:
a = 20
b = 6

In [18]:
print(a // b)

3

# Introduction to math library built-in functions


** The math library can be used to perform various functions. You can check them out in the link below.** <br>
All links to Python 3.6<br>
https://docs.python.org/3.6/library/math.html

The library includes logarithmic, trigonometric and various scientific functions which can help in performing different operations on the data

In [9]:
# Importing math module

import math

Find a**b

In [10]:
a = 3
b = 2

# same as a ** b
math.pow(a,b)

9.0

Find square root of a number

In [11]:
a = 64

math.sqrt(a)

8.0

# 2.0  Comparison Operators

<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>

</tr>
<tr>
<td class="ts" style="text-align:center;" >==</td>
<td style="text-align:center;">If the values of two operands are equal, then the condition becomes true.</td>

<tr>
<td class="ts" style="text-align:center;">!=</td>
<td style="text-align:center;">If values of two operands are not equal, then condition becomes true.</td>

</tr>
<tr>
<td class="ts" style="text-align:center;">&gt;</td>
<td style="text-align:center;">If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">&lt;</td>
<td style="text-align:center;">If the value of left operand is less than the value of right operand, then condition becomes true.</td>

</tr>
<tr>
<td class="ts" style="text-align:center;">&gt;=</td>
<td style="text-align:center;">If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>

</tr>
<tr>
<td class="ts" style="text-align:center;">&lt;=</td>
<td style="text-align:center;">If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>

</tr>
</tbody>

** Please note that,&nbsp; '=' is not same as '=='**<br>
The reason being '=' is an assignment operator<br>
For eg. a = b + c<br>
The result of (b + c) would be stored in a<br>
While, if suppose a == b,<br>
Here we are trying to compare the values of a and b<br>
Don't worry you will be exploring comparison operators in the following section


#### Some operations are supported by several object types; in particular, practically all objects can be compared, tested for truth value, and converted to a string

Given that

In [1]:
a = 20
b = 6

### '==' to check whether two operands are equal or not.

In [31]:
print(a == b)

False

In [12]:
# lets see what is the datatype of an expression involving comparison operator 

type(a == b)

bool

<font color=orange>### IMPORTANT NOTE </font>
<br> Whenever a comparison operator is involved in an expression, the datatype of the result will always be boolean.

Lets compare **'='** with **'=='**.

In [25]:
print(a = b)

TypeError: 'a' is an invalid keyword argument for this function

As you can see above the assignment operation does not involve comparison and thus doesn't return any value.
<br> That is why, when we try to print the result, we get an error.

### '!=' to check whether two operands are unequal or not.

In [15]:
print(a != b)

True

### '>' to check whether a is greater than b or not.

In [16]:
print(a > b)

True

### '<' to check whether a is less than b or not.

In [17]:
print(a < b)

False

### '>=' to check whether a is greater than or equal to b or not.

Here, two conditions are checked **a>b** and **a==b**, if any of these turns out to be true, the result is true else false.

In [18]:
print(a >= b)

True

### '<=' to check whether a is less than or equal to b or not.

Here, two conditions are checked **a &lt; b** and **a==b**, if any of these turns out to be true, the result is true else false.

In [19]:
print(a <= b)

False

# 3.0 Assignment Operators

<tbody><tr>
<th style="text-align:center;width:25%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts" style="text-align:center;">=</td>
<td style="text-align:center;">Assigns values from right side operands to left side operand</td>
<td style="vertical-align:middle;text-align:center;">c = a + b assigns value of a + b into c</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">+= Add AND</td>
<td style="text-align:center;">It adds right operand to the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c += a is equivalent to c = c + a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">-= Subtract AND</td>
<td style="text-align:center;">It subtracts right operand from the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c -= a is equivalent to c = c - a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">\*= Multiply AND</td>
<td style="text-align:center;">It multiplies right operand with the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c &#42;= a is equivalent to c = c * a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">/= Divide AND</td>
<td style="text-align:center;">It divides left operand with the right operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c /= a is equivalent to c = c / a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">%= Modulus AND</td>
<td style="text-align:center;">It takes modulus using two operands and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c %= a is equivalent to c = c % a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">&#42;&#42;= Exponent AND</td>
<td style="text-align:center;">Performs exponential (power) calculation on operators and assign value to the left operand</td>
<td style="vertical-align:middle;text-align:center;">c &#42;&#42;= a is equivalent to c = c ** a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">//= Floor Division</td>
<td style="text-align:center;">It performs floor division on operators and assign value to the left operand</td>
<td style="vertical-align:middle;text-align:center;">c //= a is equivalent to c = c // a</td>
</tr>
</tbody>

These are called as 'short hand' operators. They will help you to code faster.

### Assignment operation

In [23]:
a = 5

In [24]:
# Show 

a

5

### Assignment operation post addition

In [25]:
a += 5

In [26]:
# Show 

a

10

### Assignment operation post subtraction

In [27]:
a -= 5

In [28]:
# Show 

a

5

### Assignment operation post multiplication

In [29]:
a *= 5

In [30]:
# Show 

a

25

### Assignment operation post division

In [31]:
a /= 5

In [32]:
# Show 

a

5.0

### Assignment operation post modulo operation

In [33]:
a %= 5

In [34]:
# Show 

a

0.0

Given that

In [35]:
a = 5

### Assignment operation post exponentiation

In [36]:
a **= 2

In [37]:
# Show 

a

25

### Assignment operation post floor division

In [38]:
a //= 2

In [39]:
# Show 

a

12

Note that a was 25 before floor division and it later became 12.<br>
Actually, 25/2 is 12.5 but floor division eliminates decimal part and returns the quotient only.

# Logical Operators

<tbody><tr>
<th style="text-align:center;width:20%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td style="text-align:center;">and Logical AND</td>
<td class="ts" style="text-align:center;">If both the operands are true then condition becomes true.</td>
<td class="ts" style="text-align:center;">(a and b) is true.</td>
</tr>
<tr>
<td style="text-align:center;">or Logical OR</td>
<td class="ts" style="text-align:center;">If any of the two operands are non-zero then condition becomes true.</td>
<td class="ts" style="text-align:center;">(a or b) is true.</td>
</tr>
<tr>
<td style="text-align:center;">not Logical NOT</td>
<td class="ts" style="text-align:center;">Used to reverse the logical state of its operand.</td>
<td class="ts" style="text-align:center;">Not(a and b) is false.</td>
</tr>
</tbody>

Given that

In [13]:
a = 5
b = 25

###  'and' operator for finding whether a and b both are divisible by 5. 

<br> First we will write the code to check a is divisible by 5 
<br> (a % 5) == 0
<br> Then we will write the code to check b is divisible by 5
<br> (b % 5) == 0
<br> Now connect the two conditions by AND operator
<br> You will have to use brackets to make this into a single statement
<br> e.g. (a % 5) == 0 and (b % 5) == 0
<br> and now when you print the result, you need to add additional braces

<font color=orange>### IMPORTANT NOTE </font>
<br>"AND" operator will return True only when all the conditions are True

In [16]:
(a % 5) == 0 and (b % 5) == 0

True

Given that

In [204]:
a = 26
b = 25

### 'or' operator for finding whether either a or b is divisible by 5.

<br>We will follow similar procedure that we had followed in the previous example and in the end we will use 'or' operator instead of 'and'.

<font color=orange>### IMPORTANT NOTE </font>
<br>"OR" operator will return False only when all the conditions are False

In [208]:
print(((a % 5) == 0 or (b % 5) == 0))

True

Given that

In [41]:
a = 26

### 'not' operator to check whether value of a variable is not equal to a particular number.

eg. To check whether a is not equal to 35 ->
<br> We have to check whether a is equal to 35 and then calculate 'not' of the result.

In a similar way, lets find out whether a is not equal to 26.

In [42]:
print(not ( a == 26))

False

# Membership Operators

<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">in</td>
<td>Evaluates to true if it finds a variable in the specified sequence and false otherwise.</td>
<td style="vertical-align:middle;">x in y, here in results in a 1 if x is a member of sequence y.</td>
</tr>
<tr>
<td class="ts">not in</td>
<td>Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.</td>
<td>x not in y, here not in results in a 1 if x is not a member of sequence y.</td>
</tr>
</tbody>

These operators would be explored in much detail in further chapters. But, they are mentioned here because they belong to this chapter.<br>
Don't worry if you find it difficult to understand.

We create a list l with elements 1,2,3. Lists are explored in detail in chapter 3.

In [69]:
l = [1,2,3]

We check whether 1 is present in l

In [70]:
1 in l

True

We check whether 4 is present in l

In [73]:
4 in l

False

# Operator Precedence (Highest to lowest)

Follow PEMDAS rule:
PEMDAS is an acronym for the words parenthesis, exponents, multiplication, division, addition, subtraction. 


1. Paranthesis
2. Exponents 
3. Multiplication and Division 
4. Addition and Subtraction

Precedence decreases from top to bottom

**Please note that**

- In the United States, the acronym PEMDAS is common. It stands for Parentheses, Exponents, Multiplication/Division, Addition/Subtraction. PEMDAS is often expanded to the mnemonic "Please Excuse My Dear Aunt Sally".

- Canada and New Zealand use BEDMAS, standing for Brackets, Exponents, Division/Multiplication, Addition/Subtraction.
- Most common in the UK, India and Australia are BODMAS meaning Brackets, Of or Order, Division/Multiplication,        Addition/Subtraction. Nigeria and some other West African countries also use BODMAS. Similarly in the UK, BIDMAS is used, standing for Brackets, Indices, Division/Multiplication, Addition/Subtraction.

<tbody><tr>
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Operator &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>**</b></p>
<p>Exponentiation (raise to the power)</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><p><b>~ + -</b></p>
<p>Complement, unary plus and minus (method names for the last two are +@ and -@)</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><p><b>* / % //</b></p>
<p>Multiply, divide, modulo and floor division</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><p><b>+ -</b></p>
<p>Addition and subtraction</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><p><b>&gt;&gt; &lt;&lt;</b></p>
<p>Right and left bitwise shift</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td><p><b>&amp;</b></p>
<p>Bitwise 'AND'</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td><p><b>^ |</b></p>
<p>Bitwise exclusive `OR' and regular `OR'</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td><p><b>&lt;= &lt; &gt; &gt;=</b></p>
<p>Comparison operators</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td><p><b>&lt;&gt; == !=</b></p>
<p>Equality operators</p></td>
</tr>
<tr>
<td class="ts">10</td>
<td><p><b>= %= /= //= -= += *= **=</b></p>
<p>Assignment operators</p></td>
</tr>
<tr>
<td class="ts">11</td>
<td><p><b>is is not</b></p>
<p>Identity operators</p></td>
</tr>
<tr>
<td class="ts">12</td>
<td><p><b>in not in</b></p>
<p>Membership operators</p></td>
</tr>
<tr>
<td class="ts">13</td>
<td><p><b>not or and</b></p>
<p>Logical operators</p></td>
</tr>
</tbody>

# Summary

Now that you have learnt about various datatypes and math operators.
<br> You have taken a big step in the right direction.
<br> These topics will help you build a strong foundation for future chapters.
<br> Please solve your assignment very well and invest as much time as possible to master these topics.
<br> Lets get to hands on practice by solving the assignment.

**All the best!!**