<img src="https://www.digitalvidya.com/wp-content/uploads/2013/05/Digital-Vidya-Website-Logo-HD-2-300x95.png">

Since you have done rigourous practice in the content part of this chapter.
<br> Lets solve some tougher problems in this assignment

**Q.1 Check if a given string is palindrome.**
    <br> A string is palindrome if the reverse of the string is same as itself.
    <br> For eg. madam
    <br> Print "`<string>` is palindrome" if it is palindrome 
    <br> else "`<string>` is not a palindrome" if it is not a palindrome.
    <br> Hint : Use slicing to get reverse of the string.

In [1]:
given_string = 'madam'

## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>madam is a palindrome</td>
  </tr>
</table>

**
Q.2 Given two numbers, print** 

     1. "Result: n1 = n2" if they are equal
     2. "Result: n1 > n2" if the first one is greater than second one
     3. "Result: n1 < n2" if the first one is less than second one   
    
**
Replace n1 and n2 with their actual values
**

In [2]:
# Print by substituting example.

num1 = 3
num2 = 2 

print("Result: %d > %d" % (num1,num2));

Result: 3 > 2

In [3]:
num1 = 3
num2 = 2 

## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>Result: 3 > 2</td>
  </tr>
</table>

**Q.3 This is a challenging problem.
<br> Check whether a year is leap year or not.**
<br> To determine whether a year is a leap year, follow these steps: 
>If the year is evenly divisible by 4, go to step 2. Otherwise, go to step 5.
><br>If the year is evenly divisible by 100, go to step 3. Otherwise, go to step 4.
><br>If the year is evenly divisible by 400, go to step 4. Otherwise, go to step 5.
><br>The year is a leap year (it has 366 days).
><br>The year is not a leap year (it has 365 days).

<br> Print "n is a leap year" if the given year is leap year.
<br> Print "n is not a leap year" if the given year is not leap year.
<br> Replace n with given year.
<br> Hint : Use nested if-else

In [4]:
number = 2012
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>2012 is a leap year</td>
  </tr>
</table>

**Q.4 Find the largest among three numbers**

eg. Consider a,b,c as the three numbers.

`
if a>b
   if a>c
      Display a is the largest number.
   else
      Display c is the largest number.
else
   if b>c
      Display b is the largest number.
   else
      Display c is the greatest number.  
`

Now, you just have to convert it into a program in Python.

In [5]:
a = 3
b = 5 
c = 4

## START CODE HERE

        
## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td> 5 is the largest number</td>
  </tr>
</table>

**Q.5 Display all the factors of a number**

Factors of a number are the numbers which perfectly divide that number.
<br> 
eg. Factors of 12 are 1,2,3,4,6,12.
>1 × 12 = 12
><br> 2  × 6  = 12
><br> 3  × 4  = 12
><br> 4  × 3  = 12
><br> 6  × 2  = 12
><br> 12 × 1  = 12

In [6]:
given_number = 12
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">Factors of 12 are :
        <br>1 2 3 4 6 12 </td>
  </tr>
</table>

**Q.6 Given a list containing tuples find the sum of elements in each tuple and print the resulting list.**
<br> Create new list.
<br> Use appropriate list method to add elements to the list.

In [7]:
given_list = [(1,2),(3,4),(5,6)]


## START CODE HERE


## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">[3, 7, 11]</td>
  </tr>
</table>

**Q.7 Given the stocks of companies in the form a dictionary display the sum of the their stocks.**

In [8]:
stocks = {
        'IBM': 213.23,
        'MSFT':43.11,
        'AMZN':21.54
}

## START CODE HERE


## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">The sum of stocks is 277.880000 </td>
  </tr>
</table>

**Q.8 Given an integer find the number of digits in that integer.**
<br>eg. 342 has 3 digits, thus output has to be 3.
<br> Hint: 
        1. 342//10 = 34
        2. 34//10  = 3
        3. 3//10   = 0
        
Catch the hint, find out the terminating condition, your problem is solved.

In [9]:
given_number = 3421

## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">Number of digits in 3421 is 4</td>
  </tr>
</table>

**Q.9 Write a program to find reverse of a number entered by the user (Use short-hand operators and don't use any built-in functions)** <br>

Algorithm:

Input:  num<br>
(1) Initialize rev_num = 0<br>
(2) Loop while num > 0 <br>
     <span style="display:inline-block; width: 45px;"></span>(a) Multiply rev_num by 10 and add remainder of num<br>
     <span style="display:inline-block; width: 45px;"></span>divide by 10 to rev_num<br>
     <span style="display:inline-block; width: 45px;"></span><span style="display:inline-block; width: 45px;"></span>          rev_num = rev_num*10 + num%10;<br>
     <span style="display:inline-block; width: 45px;"></span>(b) Divide num by 10<br>
(3) Return rev_num

In [10]:
given_number = 4312

## START CODE HERE


## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">Reverse of entered number is 2134</td>
  </tr>
</table>

**Q.10 Check if a given number is prime or not.**
<br> From 2 to that given number/2 if any number divided given number, the given number is not prime.
<br> Make use of flag. Before the loop set flag = 0 and just before breaking the loop set flag = 1 that's how you will know that the loop was terminated by break statement. 
<br> Always remember that a number will always be divisible by 1 and itself.

In [11]:
given_number = 23

## START CODE HERE

    
## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">23 is prime number</td>
  </tr>
</table>

**Q.11 Find the average of the elements in a given list and then print only those elements in the list whose value is greater than average**

In [12]:
given_list = [ 2.3,5,6,1,4,9]

## START CODE HERE

    
## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">Average is 4.550000
<br>Numbers greater than average are : 
<br>5 6 9 </td>
  </tr>
</table>

# Congratulations

You are through the fourth assignment of the Basic Python Programming Course.
<br> We know that this was a tough one. But this will definitely benefit you in future. 
<br> Good understanding of conditionals and control flow will help you in improving your data structures and algorithms concepts which is extremely important for cracking job interviews as it is given utmost importance by top IT companies.
<br>Further in the course you will be using control statements in advanced libraries such as pandas, numpy, etc.
<br> But for now, this is an achievement worth celebrating.
<br>Buckle up!
<br>You are doing very well.
<br>See you in the next chapter.