# Database assignment

Hello, in the content part of this chapter you have learnt MySQL in depth, now let's bring your knowledge to test.

You will be analysing World Education Data.(https://ourworldindata.org/literacy)
<br> You are provided the data in the form of csv.
<br> You need to store the data in the MySQL database using the procedure you have learnt in the content part.
<br> After successfully, storing the data you need to answer a few questions by analysing the data.
<br> You are free to create as many methods as you want along with the methods taught in the content part.

Let's begin

In [4]:
import pymysql.cursors

In [5]:
class connection:
    def __init__(self, host, port, user, db):
        self.host = host
        self.port = port 
        self.user = user
        self.db= db       
        
    def connect(self):
        return pymysql.connect(host= self.host,
                                 port = self.port, 
                                 user = self.user,
                                 db= self.db)

In [6]:
c = connection('localhost', 3306,  'root', 'literacy')

In [7]:
def execute(c, sqlQuery):
    conn = c.connect()
    try :
        with conn.cursor() as cursor:

            cursor.execute(sqlQuery)

        conn.commit()
    
    finally:
        print("connection closed")
        conn.close()

### Create Table

In [8]:
## START CODE HERE

## END CODE HERE

In [9]:
def execute_with_parameters(c, sql, subtitute_values, numberOfRows = 5):
    conn = c.connect()
    
    try:
        with conn.cursor() as cursor:
            
            cursor.execute(sql, subtitute_values)
            rows = cursor.fetchall()

            counter = 0
            for row in rows:
                
                counter += 1
                
                print(row)
                
                if counter == numberOfRows:
                    break
                    
                # conn is not autocommit by default. So you must commit to save
                # your changes.
        conn.commit()

    finally:
        print("conn closed")
        conn.close()

In [10]:
def convert_column_list(columnlist):
    s1 = ','.join(['`'+str(i)+'`' for i in columnlist]) 
    s2 = ','.join(['%s' for _ in columnlist]) 
    
    return s1,s2

In [11]:
def showTables(c):
    conn = c.connect()
    try:   
        with conn.cursor() as cursor:

            # SQL query string

            sqlQuery   = "show tables"   

            # Execute the sqlQuery

            cursor.execute(sqlQuery)

            rows = cursor.fetchall()

            for row in rows:

                print(row)

                # conn is not autocommit by default. So you must commit to save
                # your changes.

    finally:
        print("connection closed")
        conn.close()

In [12]:
showTables(c)

('literacyrate',)
connection closed

In [13]:
def insert(c, tablename, columns, values,subtitute_values):
    conn = c.connect()
    try:
        with conn.cursor() as cursor:
            
            # SQL query string
            sql = "INSERT INTO `"+ tablename + "` (" + columns + " ) " + " VALUES " + "(" + values + ");"
            print(sql) 
            print(subtitute_values)
            cursor.execute(sql, subtitute_values)
        conn.commit()

    finally:
        print("conn closed")
        conn.close()

Try inserting a row to test the insert() function.

In [14]:
columns = ['entity','code','year','Elderly literacy rate, population 65+ years, both sexes','Youth literacy rate, population 15-24 years, both sexes', 'Total population']
x = ('Afghanistan','AFG',1800,None,None,3280000)

In [15]:
columns,values = convert_column_list(columns)
insert(c,"literacyRate",columns,values,x)

INSERT INTO `literacyRate` (`entity`,`code`,`year`,`Elderly literacy rate, population 65+ years, both sexes`,`Youth literacy rate, population 15-24 years, both sexes`,`Total population` )  VALUES (%s,%s,%s,%s,%s,%s);
('Afghanistan', 'AFG', 1800, None, None, 3280000)
conn closed

In [14]:
def showContents(c,sql, numberOfRows = 5):
    conn = c.connect()
    try:   
        with conn.cursor() as cursor: 

            # Execute the sqlQuery
            
            cursor.execute(sql)

            rows = cursor.fetchall()

            counter = 0
            for row in rows:
                
                counter += 1
                
                print(row)
                
                if counter == numberOfRows:
                    break
                    
                # conn is not autocommit by default. So you must commit to save
                # your changes.

    finally:
        print("conn closed")
        conn.close()

In [15]:
sql = "Select * from literacyRate"

showContents(c, sql)

('Afghanistan', 'AFG', 1800, None, None, 3280000)
('Afghanistan', 'AFG', 1800, Decimal('0E-10'), Decimal('0E-10'), 3280000)
('Afghanistan', 'AFG', 1820, Decimal('0E-10'), Decimal('0E-10'), 3280000)
('Afghanistan', 'AFG', 1870, Decimal('0E-10'), Decimal('0E-10'), 4207000)
('Afghanistan', 'AFG', 1913, Decimal('0E-10'), Decimal('0E-10'), 5730000)
conn closed

### Load data from csv to database

In [15]:
import csv

def csvToDB(c,csv_name,columns,tablename):
    with open(csv_name) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        columns,values = convert_column_list(columns)

        line_count = 0
        for row in csv_reader:
            if line_count == 0:
                print(row)
                line_count += 1
            else:
                conn = c.connect()
                insert(conn,tablename,columns,values,row)
                line_count += 1
        print(f'Inserted {line_count} lines.')

In [1]:
## START CODE HERE

## END CODE HERE

In the above cell you will get warning, ignore it after calling csvToDB().
<br> The warning appears because the value for 'Elderly literacy rate, population 65+ years, both sexes' and 'Youth literacy rate, population 15-24 years, both sexes' is missing in many rows.

In [16]:
sql = "Select * from literacyRate"

showContents(c, sql)

('Afghanistan', 'AFG', 1800, None, None, 3280000)
('Afghanistan', 'AFG', 1800, Decimal('0E-10'), Decimal('0E-10'), 3280000)
('Afghanistan', 'AFG', 1820, Decimal('0E-10'), Decimal('0E-10'), 3280000)
('Afghanistan', 'AFG', 1870, Decimal('0E-10'), Decimal('0E-10'), 4207000)
('Afghanistan', 'AFG', 1913, Decimal('0E-10'), Decimal('0E-10'), 5730000)
conn closed

Wherever you can see Decimal('0E-10') those are null values.
<br>Now that the csv is converted to Database you can test your knowledge of using SQL commands to fetch data.

## What is the youth literacy rate of different countries during 1913?

In [17]:
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">
('Afghanistan', Decimal('0E-10'))
<br>('Albania', Decimal('0E-10'))
<br>('Algeria', Decimal('0E-10'))
<br>('Argentina', Decimal('0E-10'))
<br>('Australia', Decimal('0E-10'))
<br>conn closed</td>
  </tr>
</table>

### Which country has the highest elderly literacy rate during 2015?

In [18]:
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">
('North Korea', Decimal('99.9960937500'))
<br> conn closed
</td>
  </tr>
</table>

### Which country has highest population?

In [21]:
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">
('China', 1359368470)
<br>conn closed
</td>
  </tr>
</table>

### For each year which were the highest populated countries and what was their elderly and youth literacy rates?

In [23]:
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">
(2013, Decimal('0E-10'), Decimal('0E-10'), 34499915)
<br>(2012, Decimal('0E-10'), Decimal('0E-10'), 33397058)
<br>(2011, Decimal('20.3218498230'), Decimal('46.9900512695'), 32358260)
<br>(2010, Decimal('0E-10'), Decimal('0E-10'), 31411743)
<br>(2009, Decimal('0E-10'), Decimal('0E-10'), 30577756)
<br> conn closed
</td>
  </tr>
</table>

### Show records of BRICS (Brazil, Russia, India, China,South Africa) countries only

In [25]:
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">
('Brazil', 'BRA', 1700, Decimal('0E-10'), Decimal('0E-10'), 1250000)
<br>('Brazil', 'BRA', 1800, Decimal('0E-10'), Decimal('0E-10'), 3639636)
<br>('Brazil', 'BRA', 1820, Decimal('0E-10'), Decimal('0E-10'), 4507000)
<br>('Brazil', 'BRA', 1850, Decimal('0E-10'), Decimal('0E-10'), 7234000)
<br>('Brazil', 'BRA', 1870, Decimal('0E-10'), Decimal('0E-10'), 9797000)
<br>('Brazil', 'BRA', 1871, Decimal('0E-10'), Decimal('0E-10'), 9980000)
<br>('Brazil', 'BRA', 1872, Decimal('0E-10'), Decimal('0E-10'), 10167000)
<br>('Brazil', 'BRA', 1873, Decimal('0E-10'), Decimal('0E-10'), 10358000)
<br>('Brazil', 'BRA', 1874, Decimal('0E-10'), Decimal('0E-10'), 10552000)
<br>('Brazil', 'BRA', 1875, Decimal('0E-10'), Decimal('0E-10'), 10749000)
<br> conn closed
</td>
  </tr>
</table>

### What is the highest elderly literacy rate of each of the BRICS countries?

In [21]:
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">
('Brazil', Decimal('74.1957473755'))
<br>('China', Decimal('81.2825164795'))
<br>('India', Decimal('42.7003593445'))
<br>('Russia', Decimal('99.4724197388'))
<br>('South Africa', Decimal('71.2561721802'))
<br> conn closed
</td>
  </tr>
</table>

### What is the highest youth literacy rate of each of the BRICS countries?

In [22]:
## START CODE HERE

## END CODE HERE

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">
('Brazil', Decimal('98.9323883057'))
<br>('China', Decimal('99.7288589478'))
<br>('India', Decimal('89.6640625000'))
<br>('Russia', Decimal('99.7246017456'))
<br>('South Africa', Decimal('99.0270004272'))
<br> conn closed
</td>
  </tr>
</table>

# Congratulations

You are through the last assignment of the Basic Python Programming Course.
<br> Good understanding of databases and SQL queries will help a lot in your career in data science
<br> All the best for the final milestone project.
<br> Keep up the good work.