<img src="https://www.digitalvidya.com/wp-content/uploads/2013/05/Digital-Vidya-Website-Logo-HD-2-300x95.png">

Test your functions with different inputs and exception conditions.

# Part 1: Independent functions

**Q.1 Create a function that takes date as a string and returns a dictionary containing keys as day, month and year along with their corresponding values.**

In [59]:
def date_to_dict(date):
    
    '''
    Splits the date into day, month and year.
    Parameters
    ----------
    date: The date needed to be split 
    ----------
    
    Returns
    ----------
    splitted_date : Dictionary with day, month and year as keys and their corresponding values
    ----------
    '''
    ## START CODE HERE
    

    ## END CODE HERE

    return splitted_date

In [60]:
date = '21-3-2018'

date_to_dict(date)

{'day': '21', 'month': '3', 'year': '2018'}

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>{'day': '21', 'month': '3', 'year': '2018'}</td>
  </tr>
</table>

**Q.2 Create a function that takes starting two numbers and the number of fibonacci numbers required and returns a list of fibonacci numbers as specified.**

![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAO3ZDb0mEjwQEHUBirhzSkpM3S1akl_6a_WQe-AnWwabGO6Dx)

In the above diagram, fibonacci sequence would be 1,1,2,3,5,8,13,21,34,55 you can see that the third number is addition of first two and so on.

You need the first two numbers and the number of terms to get the fibonacci sequence.
<br> In this example first two terms are 1 and 1 and the number of terms are 10.

In [61]:
def fibonacci (term1, term2, number_of_terms):
    '''
    Generates a list of fibonacci numbers based on first two terms and number of terms.
    Parameters
    ----------
    term1: First term 
    term2: Second term
    number_of_terms : Number of terms
    ----------
    
    Returns
    ----------
    fibonnaci_list : List containing all the fibonacci numbers based on the passed parameters
    ----------
    '''
    
    fibonnaci_list = []
    
    ## START CODE HERE

    ## END CODE HERE
    
    return fibonnaci_list

In [62]:
fibonacci(1,7,8)

[8, 15, 23, 38, 61, 99, 160, 259]

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>[8, 15, 23, 38, 61, 99, 160, 259]</td>
  </tr>
</table>

In [63]:
fibonacci(3,4,10)

[7, 11, 18, 29, 47, 76, 123, 199, 322, 521]

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>[7, 11, 18, 29, 47, 76, 123, 199, 322, 521]</td>
  </tr>
</table>

# Part 2 : Ramanujan Magic Square Puzzle

**Q.3 Create the following list of functions**

In the figure below, the image shows Ramanujan Magical Square.
<br>You have to write a program to create and validate the Ramanujan's Magical Square.
<br> The objective of the program should be to code small functions that should be used by the main program.

a) magicsquare = createRMagicSquare()
<br>b) displayRMagicSquare(magic_square)
<br>c) sum = get_sum(list_of_elements)
<br>d) get_column_elements(magic_square,columnnumber)
<br>e) sum = calculateSumofNumbersofaRow(magicsquare, rownumber)
<br>f) sum = calculateSumofNumbersofaColumn(magicsquare, columnnumber)
<br>g) validateRMagicSquare(magic_square, expected_sum = 139)
<br>h) sum = calculateSumofNumbersofaDiagonal(magicsquare)
<br>i) sum = calculateSumofNumbersofCornerNumbers(magicsquare)
<br>j) sum = calculateSumofNumbersofCentralSqares(magicsquare)
<br>k) birthdatofRamanujan = displayBirthdate(magicsquare)

For reference : https://www.slideshare.net/kumaraveljothi/mathematician-ramanujans-square

![]()

In [22]:
def createRMagicSquare(row1,row2,row3,row4):
    '''
    A function that creates a Ramanujan magic square  
    
    Returns
    ----------
    magic_square : A nested list in the form of matrix to contain the Ramanujan Magic Square
    ----------
    '''
    
    ## START CODE HERE
    
    ## END CODE HERE
    
    return magic_square

In [23]:
def displayRMagicSquare(magic_square):
    
    '''
    A function that displays a Ramanujan magic square  
    
    Parameters
    ----------
    magic_square : A nested list in the form of matrix to contain the Ramanujan Magic Square
    ----------
    '''
        
    ## START CODE HERE
        
    ## END CODE HERE

### Test It

In [24]:
c = createRMagicSquare([23, 22, 18 ,87], [89, 27, 9 ,25] , [90, 24 ,89 ,16] , [19, 46 ,23 ,11])

displayRMagicSquare(c)

23 22 18 87
89 27 9 25
90 24 89 16
19 46 23 11

<table>
  <tr>
  <td>**Expected Output:**<td>
23 22 18 87 
<br>89 27 9 25 
<br>90 24 89 16 
<br>19 46 23 11  </td>
  </tr>
</table>

In [46]:
# Actual Ramanujan Square

c = createRMagicSquare([22, 12, 18 ,87], [88, 17, 9 ,25] , [10, 24 ,89 ,16] , [19, 86 ,23 ,11])

displayRMagicSquare(c)

22 12 18 87
88 17 9 25
10 24 89 16
19 86 23 11

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>22 12 18 87 
<br>88 17 9 25 
<br>10 24 89 16 
<br>19 86 23 11 </td>
  </tr>
</table>

In [40]:
def get_sum(list_of_elements):
    
    '''
    A function that computes sum of elements of a list 
    Parameters
    ----------
    list_of_elements : List of elements whose sum is to be computed
    ----------
    
    Returns
    ----------
    Sum of the elements of the list 
    ----------
    '''
    ## START CODE HERE
    
    ## END CODE HERE

### Test It

In [41]:
my_list = [1,2,3,4]

print(get_sum(my_list))

10

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>10</td>
  </tr>
</table>

In [42]:
def calculateSumofNumbersofaRow(magic_square, rownumber):
    
    '''
    A function that computes sum of elements of a list along a row
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    rownumber : Row number along which the sum is to be computed
    ----------
    
    Returns
    ----------
    Sum of the elements of the list along the row number
    ----------
    '''
    ## START CODE HERE     

    ## END CODE HERE

### Test It

In [47]:
c = createRMagicSquare([22, 12, 18 ,87], [88, 17, 9 ,25] , [10, 24 ,89 ,16] , [19, 86 ,23 ,11])

for i in range(4):
    print("Row " + str(i),end = ' ')
    print(calculateSumofNumbersofaRow(c,i))

Row 0 139
Row 1 139
Row 2 139
Row 3 139

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>Row 0 139
<br>Row 1 139
<br>Row 2 139
<br>Row 3 139</td>
  </tr>
</table>

In [44]:
def get_column_elements(magic_square,columnnumber):
    
    '''
    A function that returns elements of a list along a column
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    columnnumber : Column number along which the elements are to be fetched
    ----------
    
    Returns
    ----------
    List elements of the list along the column number
    ----------
    '''
    ## START CODE HERE
    
    ## END CODE HERE

### Test It

In [45]:
def calculateSumofNumbersofaColumn(magic_square, columnnumber):
    
    '''
    A function that computes sum of elements of a list along a column
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    columnnumber : Column number along which the sum is to be computed
    ----------
    
    Returns
    ----------
    Sum of the elements of the list along the column number
    ----------
    '''
    
    ## START CODE HERE
    
    ## END CODE HERE

### Test It

In [48]:
c = createRMagicSquare([23, 22, 18 ,87], [89, 27, 9 ,25] , [90, 24 ,89 ,16] , [19, 46 ,23 ,11])

for i in range(4):
    print("Column " + str(i),end = ' ')
    print(calculateSumofNumbersofaColumn(c,i))

Column 0 150
Column 1 150
Column 2 219
Column 3 99

<table>
  <tr>
  <td style="text-align:left">**Expected Output:**<td style="text-align:left">
    <td style="text-align:left"><br>Column 0 150
<br>Column 1 150
<br>Column 2 219
<br>Column 3 99</td>
  </tr>
</table>

In [78]:
def validateRMagicSquare(magic_square, expected_sum = 139):
    '''
    A function that validates a Ramanujan magic square  
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    ----------
    Returns
    ----------
    True : If it is a magic square
    False : If it is not a magic square
    ----------
    '''
    ## START CODE HERE
    
    ## END CODE HERE

### Test It

In [79]:
# Actual Ramanujan Square

c = createRMagicSquare([22, 12, 18 ,87], [88, 17, 9 ,25] , [10, 24 ,89 ,16] , [19, 86 ,23 ,11])

validateRMagicSquare(c)

True

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>True</td>
  </tr>
</table>

In [80]:
c = createRMagicSquare([23, 22, 18 ,87], [89, 27, 9 ,25] , [90, 24 ,89 ,16] , [19, 46 ,23 ,11])

validateRMagicSquare(c)

False

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>False</td>
  </tr>
</table>

In [81]:
c = createRMagicSquare([44, 24, 36, 174], [176, 34, 18, 50] , [20, 48, 178, 32] , [38, 172, 46, 22])

validateRMagicSquare(c,278)

True

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>True</td>
  </tr>
</table>

<font color=orange>### IMPORTANT NOTE </font>
<br>As you saw above validateRMagicSquare(magic_square, expected_sum = 139) has a optional argument expected_sum which can be passed by the user's wish. By default its value is 139.
<br> In this case we have passed 278 and every row and column sum turns out to be 278. That is why its a valid Ramanujan Square.

In [35]:
def calculateSumofNumbersofaDiagonal(magic_square):
    '''
    A function that computes sum of elements of a list along the diagonal
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    ----------
    
    Returns
    ----------
    Sum of the elements of the list along the diagonal
    ----------
    '''
    ## START CODE HERE

    ## END CODE HERE

### Test It

In [57]:
c = createRMagicSquare([22, 12, 18 ,87], [88, 17, 9 ,25] , [10, 24 ,89 ,16] , [19, 86 ,23 ,11])

calculateSumofNumbersofaDiagonal(c)

139

<table>
  <tr>
  <td >**Expected Output:**<td>
    <td style="text-align:left">139</td>
  </tr>
</table>

In [55]:
c = createRMagicSquare([23, 22, 18 ,87], [89, 27, 9 ,25] , [90, 24 ,89 ,16] , [19, 46 ,23 ,11])

calculateSumofNumbersofaDiagonal(c)

150

<table>
  <tr>
  <td >**Expected Output:**<td>
    <td style="text-align:left">150</td>
  </tr>
</table>

In [37]:
def calculateSumofNumbersofCornerNumbers(magic_square):
    '''
    A function that computes sum of elements of a list along the corners
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    ----------
    
    Returns
    ----------
    Sum of the elements of the list along the corners
    ----------
    '''
    ## START CODE HERE
        
    ## END CODE HERE
    
    return get_sum(l)

### Test It

In [58]:
c = createRMagicSquare([22, 12, 18 ,87], [88, 17, 9 ,25] , [10, 24 ,89 ,16] , [19, 86 ,23 ,11])
calculateSumofNumbersofCornerNumbers(c)

139

<table>
  <tr>
  <td >**Expected Output:**<td>
    <td style="text-align:left">139</td>
  </tr>
</table>

In [59]:
c = createRMagicSquare([23, 22, 18 ,87], [89, 27, 9 ,25] , [90, 24 ,89 ,16] , [19, 46 ,23 ,11])

calculateSumofNumbersofCornerNumbers(c)

140

<table>
  <tr>
  <td >**Expected Output:**<td>
    <td style="text-align:left">140</td>
  </tr>
</table>

In [61]:
def calculateSumofNumbersofCentralSquares(magic_square):
    
    '''
    A function that computes sum of elements of a list along the central squares
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    ----------
    
    Returns
    ----------
    Sum of the elements of the list along the central squares
    ----------
    '''
    ## START CODE HERE

    ## END CODE HERE

### Test It

In [62]:
c = createRMagicSquare([22, 12, 18 ,87], [88, 17, 9 ,25] , [10, 24 ,89 ,16] , [19, 86 ,23 ,11])
calculateSumofNumbersofCentralSquares(c)

139

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>139</td>
  </tr>
</table>

In [63]:
c = createRMagicSquare([23, 22, 18 ,87], [89, 27, 9 ,25] , [90, 24 ,89 ,16] , [19, 46 ,23 ,11])
calculateSumofNumbersofCentralSquares(c)

149

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td>149</td>
  </tr>
</table>

In [ ]:
def birthdatofRamanujan(magic_square):
    
    '''
    A function that displays the birth date of SS Ramanujan which is present in the first row of matrix (22-12-1887)
    Parameters
    ----------
    magic_square : Matrix - Ramanujan Magic Square
    ----------
    '''
    ## START CODE HERE
    
    ## END CODE HERE

### Test It

In [51]:
c = createRMagicSquare()
birthdatofRamanujan(c)

22-12-1887

<table>
  <tr>
  <td style="text-align:left">**Expected Output:**<td>
    <td>22-12-1887</td>
  </tr>
</table>

In [58]:
def main():

    s = createRMagicSquare()
    print("Magic Square : ")
    displayRMagicSquare(s)
    print("Sum of elements of 1st row")
    print(calculateSumofNumbersofaRow(s,0))
    print("Sum of elements of 1st column")
    print(calculateSumofNumbersofaColumn(s,0))
    print("Sum of elements of diagonal")
    print(calculateSumofNumbersofaDiagonal(s))
    print("Sum of elements of corner numbers")
    print(calculateSumofNumbersofCornerNumbers(s))
    print("Sum of elements of central squares")
    print(calculateSumofNumbersofCentralSquares(s))
    print("Birth date of Ramanujan")
    birthdatofRamanujan(s)
    
if __name__ == '__main__':
    
    main()

Magic Square :
22 12 18 87
88 17 9 25
10 24 89 16
19 86 23 11
Sum of elements of 1st row
139
Sum of elements of 1st column
139
Sum of elements of diagonal
139
Sum of elements of corner numbers
139
Sum of elements of central squares
139
Birth date of Ramanujan
22-12-1887

<table>
  <tr>
  <td>**Expected Output:**<td>
    <td style="text-align:left">Magic Square : 
<br>22 12 18 87 
<br>88 17 9 25 
<br>10 24 89 16 
<br>19 86 23 11 
<br>Sum of elements of 1st row
<br>139
<br>Sum of elements of 1st column
<br>139
<br>Sum of elements of diagonal
<br>139
<br>Sum of elements of corner numbers
<br>139
<br>Sum of elements of central squares
<br>139
<br>Birth date of Ramanujan
<br>22-12-1887</td>
  </tr>
</table>

# Congratulations

You are through the fifth assignment of the Basic Python Programming Course.
<br> Good understanding of functions is very important. It is also very important to know how to apply them appropriately.
<br>Further in the course you will be learning about object oriented programming.
<br> But for now, this is an achievement worth celebrating.
<br>Buckle up!
<br>You are doing very well.
<br>See you in the next chapter.