<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Data Analysis using Python Assignment
### Digital Vidya Copyright

#### Download the IPL dataset from the given link and load it in a dataframe using the following command.
#### This dataset contains details of each match played in IPL from season 2008 to 2016. Each row represents one match.
#### Answer the questions based on the dataset. 
#### Please show the code you would use to get to the answer.

In [3]:
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv('matches.csv') #<location/filename.csv>
matches.shape

(577, 18)

In [1]:
# 1. What is the easiest way to view the details of the last match of the dataset?

In [2]:
# 2. Create a slice of this dataframe to only show the details from index 517 to 576 and columns id, season, city 
#and date. Print the output.

In [3]:
# 3. The final match of the season 2011 is at the index 247, on what date was the match played?

In [4]:
# 4. Create a new dataframe called matches_compact which contains only the id, season, date and winner. 
#What is the shape of the matches_compact?

In [5]:
# 5. How many matches were played in the year 2010?

In [6]:
# 6. How will you find the highest margin of runs by which any team won the match in matches so far? 
#Which team was it and by how many runs did it win?

In [7]:
# 7. Here is a dictionary of short names for all the team names in the dataset. Create a new dataframe called 
# matches_alias by replacing names in all the columns with long team names.
team_names = {'Kolkata Knight Riders': 'KKR', 
              'Chennai Super Kings': 'CSK', 
              'Rajasthan Royals' : 'RR',
               'Mumbai Indians' : 'MI', 
              'Deccan Chargers' : 'DC', 
              'Kings XI Punjab' : 'KIXP',
               'Royal Challengers Bangalore' : 'RCB', 
              'Delhi Daredevils' : 'DD',
              'Kochi Tuskers Kerala' : 'KTK', 
              'Pune Warriors' : 'PW', 
              'Sunrisers Hyderabad' : 'SRH',
              'Rising Pune Supergiants' : 'RPS', 
              'Gujarat Lions' : 'GL'}

In [8]:
# 8. Find out in which stadium the maximum number of matches have been played and in which stadium minimum? 
# What is the highest and the lowest number? Show the code.

In [20]:
# 9. The following dataframe contains large blocks of NaNs. 
# Fill the NAs with mean only for 2 or less consecutive values of NAs. 
# Refer to the documentation of fillna() to find out the parameter you would use to fill only a certail number of NAs.
# The resulting dataframe should look like df_filled shown below.

df = pd.DataFrame({'val1':[4,np.nan,7,np.nan,np.nan,9,5, np.nan , 1,9,np.nan, np.nan,np.nan, 5, np.nan], 
                    'val2': [ np.nan, 5,7,np.nan, np.nan,8,3,np.nan, 4,np.nan, np.nan, np.nan,np.nan,21,np.nan]})

d = {'val1': {0: 4.0,1: 5.7142857142857144,2: 7.0,3: 5.7142857142857144,4: np.nan,5: 9.0,6: 5.0,7: np.nan,8: 1.0,9: 9.0,10: np.nan,11: np.nan,12: np.nan,13: 5.0,14: np.nan},
'val2': {0: 8.0,1: 5.0,2: 7.0,3: 8.0,4: np.nan,5: 8.0,6: 3.0,7: np.nan,8: 4.0,9: np.nan,10: np.nan,11: np.nan,12: np.nan,13: 21.0,14: np.nan}}

df_filled = pd.DataFrame(d)

In [4]:
# 10. For the dataframe given below, 
# Convert the NaN values to zero
# Add a row called diff with the difference between minimum and maximum value in each column. Try solving it using lambda function
# Add a column called diff with the difference between minimum and maximum value in each row. 
# The final df should look like df_final shown below

df = pd.DataFrame({'val1':[9,15,71,9,5], 'val2': [8,31,10, 14,np.nan]})

df_final = pd.DataFrame({'diff': {0: 1.0, 1: 16.0, 2: 61.0, 3: 5.0, 4: 5.0, 'diff': 35.0},
 'val1': {0: 9.0, 1: 15.0, 2: 71.0, 3: 9.0, 4: 5.0, 'diff': 66.0},
 'val2': {0: 8.0, 1: 31.0, 2: 10.0, 3: 14.0, 4: 0.0, 'diff': 31.0}})

df_final

      diff  val1  val2
0      1.0   9.0   8.0
1     16.0  15.0  31.0
2     61.0  71.0  10.0
3      5.0   9.0  14.0
4      5.0   5.0   0.0
diff  35.0  66.0  31.0