<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Data Analysis using Python Assignment
### Digital Vidya Copyright

Load the ipl datasets deliveries.csv and matches.csv into a pandas dataframe and answer the quesions based on these dataset.

In [1]:
import pandas as pd
import numpy as np
deliveries = pd.read_csv('deliveries.csv')
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [3]:
matches = pd.read_csv('matches.csv')
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [12]:
#1. Merge both the datasets so that the resulting df would have all the columns. Call it ipl_total. 
# The shape would be (136598, 39)

In [4]:
#2. The dataset deliveries has the ball-by-ball summary of each match from 2008 to 2016 but it doesn't have season 
# column making it difficult to segregate the data season-wise. Merge both the datasets such that the dataset 
# deliveries also gets an additional column season and store it in deliveries_season. Drop the duplicate column id. 
# The shape deliveries_season should be (136598, 22).

In [16]:
#3. Use groupby on the dataset matches to return only the winner for each season (each rwo representing winner for 
# each season starting from 2008). Store it in a new dataframe called winners. 
#Hint: the last match of each seaon would be the final of that season. The shape of winners should be (9,17)
winners = matches.groupby('season').last()
winners.shape

(9, 17)

In [6]:
#4. Use the deliveries_season df created in qn 2 to find the total runs scored by each team per season. Store the 
#resulting dataframe as season_run_summary. The shape would be (76, 3)

In [7]:
#5. Use the deliveries_season df created in qn 2 to find the total wickets taken by each bowler per seaon per team.
# Store it in season_wicket_summary, shape should be (1036, 4)

In [8]:
#6. Consider the following dataframe. Reshape it such that it contains three columns: time, part (part_0_hits or 
# part_1_hits) and hits (values corresponding to the part_0_hits and part_1_hits). Store it in part_df_melted
d = {'time':[0,1,2], 'part_0_hits': [100,200,300], 'part_1_hits': [25,50,75]}
part_df = pd.DataFrame(d)

In [9]:
#7. Use the part_df_melted generated in qn 6 and change the part column to show only the corresponding part numbers 
# (0 or 1 inplace of part_0_hits or part_1_hits)

In [12]:
#8. Pivot the following dataframe to create 5 columns: labels, A,B,C,D. 
data = {"grouping": ["item1", "item1", "item1", "item2", "item2", "item2", "item2"],
        "labels": ["A", "B", "C", "A", "B", "C", "D"],
        "count": [5, 1, 8, 3, 731, 189, 9]}
df = pd.DataFrame(data)

In [2]:
#9. Pivot the following dataframe to create df_pivoted with four columns: category, A, B, C. Aggregate the values on sum.
df = pd.DataFrame({'Name' : ['one', 'one', 'two', 'three'] * 3,
                   'Category' : ['A', 'B', 'C'] * 4,
               'Value' : range(12)})

In [3]:
#10. Use the df_pivoted generated in qn 9 and add three columns A_pct, B_pct, C_pct to represent the percentage 
# values of each cell per column. Hint: use df.apply(lambda x: .....)