<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Data Analysis using Python  Tutorial
### Digital Vidya Copyright

### Time Series Analysis
#### https://pandas.pydata.org/pandas-docs/stable/timeseries.html

### Converting a series to timestamp
date-like objects, strings, epochs, or a mixture

In [108]:
import pandas as pd
import numpy as np
import datetime as dt
df = pd.DataFrame({'date': ['20060101', '20060102', '20060103', '20060104', '20060105', '20060106'], 'speed':[5.0, 5.0,5.0,5.0,5.0,5.0]})
df

       date  speed
0  20060101    5.0
1  20060102    5.0
2  20060103    5.0
3  20060104    5.0
4  20060105    5.0
5  20060106    5.0

In [3]:
df.date#.dt.year

0    20060101
1    20060102
2    20060103
3    20060104
4    20060105
5    20060106
Name: date, dtype: object

In [5]:
df['date'] = pd.to_datetime(df['date'])
df

        date  speed
0 2006-01-01    5.0
1 2006-01-02    5.0
2 2006-01-03    5.0
3 2006-01-04    5.0
4 2006-01-05    5.0
5 2006-01-06    5.0

In [9]:
df.date.dt.year

0    2006
1    2006
2    2006
3    2006
4    2006
5    2006
Name: date, dtype: int64

In [10]:
df.date.dt.month
df.date.dt.day

0    1
1    2
2    3
3    4
4    5
5    6
Name: date, dtype: int64

In [11]:
df = pd.DataFrame({'date':['Jul 31, 2009', '2010-01-10', None]})
df

           date
0  Jul 31, 2009
1    2010-01-10
2          None

In [33]:
pd.to_datetime(df.date)

0   2009-07-31
1   2010-01-10
2          NaT
Name: date, dtype: datetime64[ns]

Dates with no values get evaluated as NaT - Not a time.

In [12]:
df = pd.DataFrame({'date': ['20061001', '20061101', '20061201', '20061301', '20061401', '20061501'], 'speed':[5.0, 5.0,5.0,5.0,5.0,5.0]})
df

       date  speed
0  20061001    5.0
1  20061101    5.0
2  20061201    5.0
3  20061301    5.0
4  20061401    5.0
5  20061501    5.0

In [13]:
df['date'] = pd.to_datetime(df['date'])
df

ValueError: month must be in 1..12

In [14]:
df['date'] = pd.to_datetime(df['date'], format = '%Y%d%m') #default format is '%Y%m%d'
df

        date  speed
0 2006-01-10    5.0
1 2006-01-11    5.0
2 2006-01-12    5.0
3 2006-01-13    5.0
4 2006-01-14    5.0
5 2006-01-15    5.0

Specifying a format argument will potentially speed up the conversion considerably and on versions later then 0.13.0 explicitly specifying a format string of '%Y%m%d' takes a faster path still.

In [15]:
s = pd.Series(['23-JUN-11', '23-JUL-11'])
pd.to_datetime(s, format = '%d-%b-%y') # use %y for 2-digit year & %b for month in letter format

0   2011-06-23
1   2011-07-23
dtype: datetime64[ns]

In [16]:
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5],'hour': [2, 3]})
df

   day  hour  month  year
0    4     2      2  2015
1    5     3      3  2016

In [17]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [18]:
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5],'hour': [2, 3], 'price': [748, 986]})
df

   day  hour  month  price  year
0    4     2      2    748  2015
1    5     3      3    986  2016

In [19]:
df['datetime']=pd.to_datetime(df[['day', 'hour', 'month', 'year']])
df

   day  hour  month  price  year            datetime
0    4     2      2    748  2015 2015-02-04 02:00:00
1    5     3      3    986  2016 2016-03-05 03:00:00

### Handling Invalid Data

The default parameter for to_datetime is errors='raise', rather than errors='ignore'. This means that invalid parsing will raise rather that return the original input

In [21]:
df = pd.DataFrame({'date': ['957465839', 'abc', '20061201', '20061301', '20061401', '20061501'], 'speed':[5.0, 5.0,5.0,5.0,5.0,5.0]})
df
#pd.to_datetime(df['date'])

        date  speed
0  957465839    5.0
1        abc    5.0
2   20061201    5.0
3   20061301    5.0
4   20061401    5.0
5   20061501    5.0

In [22]:
pd.to_datetime(df['date'], format = '%Y%d%m')

ValueError: unconverted data remains: 839

In [23]:
pd.to_datetime(df['date'], errors = 'ignore')

0    957465839
1          abc
2     20061201
3     20061301
4     20061401
5     20061501
Name: date, dtype: object

In [24]:
pd.to_datetime(df['date'], errors = 'coerce')

0          NaT
1          NaT
2   2006-12-01
3          NaT
4          NaT
5          NaT
Name: date, dtype: datetime64[ns]

In [25]:
pd.to_datetime(df['date'], errors = 'coerce', format = '%Y%d%m')

0          NaT
1          NaT
2   2006-01-12
3   2006-01-13
4   2006-01-14
5   2006-01-15
Name: date, dtype: datetime64[ns]

### Epoch Timestamps
The Unix epoch (or Unix time or POSIX time or Unix timestamp) is the number of seconds that have elapsed since January 1, 1970 (midnight UTC/GMT)

In [55]:
df = pd.DataFrame({'date': [1349720105, 1349806505, 1349892905, 1349979305, 1350065705]})
pd.to_datetime(df['date'], unit='s')

0   2012-10-08 18:15:05
1   2012-10-09 18:15:05
2   2012-10-10 18:15:05
3   2012-10-11 18:15:05
4   2012-10-12 18:15:05
Name: date, dtype: datetime64[ns]

### DatetimeIndex
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html

To generate an index with timestamps, you can use either the DatetimeIndex or Index constructor and pass in a list of datetime objects:

In [26]:
import datetime as dt
dates = [dt.datetime(2017, 1, 1), dt.datetime(2017, 1, 2), dt.datetime(2017, 1, 3), dt.datetime(2017, 1, 4), dt.datetime(2017, 1, 5)]
dates

[datetime.datetime(2017, 1, 1, 0, 0),
 datetime.datetime(2017, 1, 2, 0, 0),
 datetime.datetime(2017, 1, 3, 0, 0),
 datetime.datetime(2017, 1, 4, 0, 0),
 datetime.datetime(2017, 1, 5, 0, 0)]

In [27]:
index = pd.DatetimeIndex(dates)
index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [59]:
index = pd.Index(dates)
index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [28]:
df = pd.DataFrame(np.random.randn(5,10), index = index)
df

,0,1,2,3,4,5,6,7,8,9
2017-01-01,-0.123711,0.316707,-0.803676,-0.345777,-1.276253,-0.593484,0.137096,-0.460734,0.033703,0.081184
2017-01-02,-0.233067,-1.628057,-0.036892,-1.100081,1.666756,0.997067,-1.382288,-0.165719,-0.203269,-0.026622
2017-01-03,-0.761164,-1.214300,0.568158,0.313138,-1.098500,0.547190,-0.762861,-0.199592,-1.269682,-0.699714
2017-01-04,0.034988,0.796838,-1.196811,-0.069436,0.212202,0.015131,-0.525617,1.827271,-0.991312,-0.172368
2017-01-05,0.599962,-0.764296,1.216300,0.633377,1.449190,0.601248,0.593679,1.127119,0.338717,0.078275

#### Get today's date using datetime

In [30]:
today = dt.datetime.today()
today

datetime.datetime(2017, 10, 2, 11, 16, 51, 613656)

### date_range & bdate_range
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html

In [37]:
rng = pd.date_range('1/1/2011', periods=72, freq='H') 
rng[:5]

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [65]:
rng = pd.date_range(end = '1/1/2011', periods=72, freq='H') 
rng[:5]

DatetimeIndex(['2010-12-29 01:00:00', '2010-12-29 02:00:00',
               '2010-12-29 03:00:00', '2010-12-29 04:00:00',
               '2010-12-29 05:00:00'],
              dtype='datetime64[ns]', freq='H')

In [34]:
rng = pd.date_range(start = '9/1/2010',end = '1/1/2011', freq='H') 
rng[:5]

DatetimeIndex(['2010-09-01 00:00:00', '2010-09-01 01:00:00',
               '2010-09-01 02:00:00', '2010-09-01 03:00:00',
               '2010-09-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

### Start date greater than end data

In [35]:
rng = pd.date_range(end = '1/1/2010', periods=72, freq='H') 
rng[:5]

DatetimeIndex(['2009-12-29 01:00:00', '2009-12-29 02:00:00',
               '2009-12-29 03:00:00', '2009-12-29 04:00:00',
               '2009-12-29 05:00:00'],
              dtype='datetime64[ns]', freq='H')

In [36]:
rng = pd.bdate_range('1/1/2011', periods=72) 
rng[:5]

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07'],
              dtype='datetime64[ns]', freq='B')

#### Freq aliases

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [38]:
rng = pd.date_range(start = '1/1/2011', periods=72, freq='B') 
rng[:5]

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07'],
              dtype='datetime64[ns]', freq='B')

### Indexing

#### Series

In [39]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.head()

2011-01-03    0.345772
2011-01-04    0.954998
2011-01-05    1.361572
2011-01-06   -0.019567
2011-01-07   -1.719874
Freq: B, dtype: float64

In [40]:
ts['2011-01-07']

-1.7198739913308656

In [41]:
ts['2011-01-07': '2011-01-12']

2011-01-07   -1.719874
2011-01-10    0.488564
2011-01-11    1.132932
2011-01-12   -0.255377
Freq: B, dtype: float64

In [42]:
ts['2011-01']

2011-01-03    0.345772
2011-01-04    0.954998
2011-01-05    1.361572
2011-01-06   -0.019567
2011-01-07   -1.719874
2011-01-10    0.488564
2011-01-11    1.132932
2011-01-12   -0.255377
2011-01-13   -1.295197
2011-01-14    0.726761
2011-01-17   -0.480655
2011-01-18   -0.215073
2011-01-19    0.084021
2011-01-20   -0.328620
2011-01-21    0.409731
2011-01-24    1.845667
2011-01-25   -1.027580
2011-01-26    1.095014
2011-01-27   -0.259897
2011-01-28    0.311853
2011-01-31   -0.751403
Freq: B, dtype: float64

#### Dataframe

In [44]:
ts = pd.DataFrame({'val': np.random.randint(0,100,size = len(rng))}, index = rng)
ts.head()

            val
2011-01-03   77
2011-01-04   34
2011-01-05   12
2011-01-06   36
2011-01-07   28

In [47]:
ts.index[:5]

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07'],
              dtype='datetime64[ns]', freq='B')

In [48]:
ts.index[::-1]

DatetimeIndex(['2011-04-12', '2011-04-11', '2011-04-08', '2011-04-07',
               '2011-04-06', '2011-04-05', '2011-04-04', '2011-04-01',
               '2011-03-31', '2011-03-30', '2011-03-29', '2011-03-28',
               '2011-03-25', '2011-03-24', '2011-03-23', '2011-03-22',
               '2011-03-21', '2011-03-18', '2011-03-17', '2011-03-16',
               '2011-03-15', '2011-03-14', '2011-03-11', '2011-03-10',
               '2011-03-09', '2011-03-08', '2011-03-07', '2011-03-04',
               '2011-03-03', '2011-03-02', '2011-03-01', '2011-02-28',
               '2011-02-25', '2011-02-24', '2011-02-23', '2011-02-22',
               '2011-02-21', '2011-02-18', '2011-02-17', '2011-02-16',
               '2011-02-15', '2011-02-14', '2011-02-11', '2011-02-10',
               '2011-02-09', '2011-02-08', '2011-02-07', '2011-02-04',
               '2011-02-03', '2011-02-02', '2011-02-01', '2011-01-31',
               '2011-01-28', '2011-01-27', '2011-01-26', '2011-01-25',
               '2011-01-24', '2011-01-21', '2011-01-20', '2011-01-19',
               '2011-01-18', '2011-01-17', '2011-01-14', '2011-01-13',
               '2011-01-12', '2011-01-11', '2011-01-10', '2011-01-07',
               '2011-01-06', '2011-01-05', '2011-01-04', '2011-01-03'],
              dtype='datetime64[ns]', freq='-1B')

In [49]:
ts.index[5:10]

DatetimeIndex(['2011-01-10', '2011-01-11', '2011-01-12', '2011-01-13',
               '2011-01-14'],
              dtype='datetime64[ns]', freq='B')

In [50]:
ts.index[::2]

DatetimeIndex(['2011-01-03', '2011-01-05', '2011-01-07', '2011-01-11',
               '2011-01-13', '2011-01-17', '2011-01-19', '2011-01-21',
               '2011-01-25', '2011-01-27', '2011-01-31', '2011-02-02',
               '2011-02-04', '2011-02-08', '2011-02-10', '2011-02-14',
               '2011-02-16', '2011-02-18', '2011-02-22', '2011-02-24',
               '2011-02-28', '2011-03-02', '2011-03-04', '2011-03-08',
               '2011-03-10', '2011-03-14', '2011-03-16', '2011-03-18',
               '2011-03-22', '2011-03-24', '2011-03-28', '2011-03-30',
               '2011-04-01', '2011-04-05', '2011-04-07', '2011-04-11'],
              dtype='datetime64[ns]', freq='2B')

In [51]:
ts.loc['2011-03-10']

val    85
Name: 2011-03-10 00:00:00, dtype: int64

In [52]:
ts.loc['2011-03-10':'2011-03-18']

            val
2011-03-10   85
2011-03-11   12
2011-03-14   54
2011-03-15   84
2011-03-16   35
2011-03-17   16
2011-03-18   34

#### Truncate: 
    Truncates a sorted NDFrame before and/or after some particular index value. 
    If the axis contains only datetime values, before/after parameters are converted to datetime values.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.truncate.html

In [54]:
ts.truncate(before = '2011-02-13', after = '2011-03-01')

            val
2011-02-14    1
2011-02-15   66
2011-02-16   52
2011-02-17    0
2011-02-18   84
2011-02-21   17
2011-02-22    1
2011-02-23   95
2011-02-24   27
2011-02-25   77
2011-02-28   24
2011-03-01   54

### Time/Date Components
https://pandas.pydata.org/pandas-docs/stable/timeseries.html

In [55]:
ts.index.year

Int64Index([2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
            2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
            2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
            2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
            2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
            2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
            2011, 2011, 2011, 2011, 2011, 2011],
           dtype='int64')

In [56]:
ts.index.day

Int64Index([ 3,  4,  5,  6,  7, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 24, 25,
            26, 27, 28, 31,  1,  2,  3,  4,  7,  8,  9, 10, 11, 14, 15, 16, 17,
            18, 21, 22, 23, 24, 25, 28,  1,  2,  3,  4,  7,  8,  9, 10, 11, 14,
            15, 16, 17, 18, 21, 22, 23, 24, 25, 28, 29, 30, 31,  1,  4,  5,  6,
             7,  8, 11, 12],
           dtype='int64')

In [66]:
s = pd.Series(pd.date_range('1/1/2011', periods=100, freq='D'))
s.dt.year[:5]

0    2011
1    2011
2    2011
3    2011
4    2011
dtype: int64

In [67]:
s.dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
     ..
70    3
71    3
72    3
73    3
74    3
75    3
76    3
77    3
78    3
79    3
80    3
81    3
82    3
83    3
84    3
85    3
86    3
87    3
88    3
89    3
90    4
91    4
92    4
93    4
94    4
95    4
96    4
97    4
98    4
99    4
Length: 100, dtype: int64

In [68]:
s[(s.dt.year==2011) & (s.dt.month==1)][:5]

0   2011-01-01
1   2011-01-02
2   2011-01-03
3   2011-01-04
4   2011-01-05
dtype: datetime64[ns]

### strftime 
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.strftime.html

In [69]:
s.dt.strftime('%m-%d-%Y')[:5]

0    01-01-2011
1    01-02-2011
2    01-03-2011
3    01-04-2011
4    01-05-2011
dtype: object

In [71]:
s.dt.strftime('%b-%d-%Y')[:5]
s.dt.strftime('%b-%d-%Y')[::-6]

99    Apr-10-2011
93    Apr-04-2011
87    Mar-29-2011
81    Mar-23-2011
75    Mar-17-2011
69    Mar-11-2011
63    Mar-05-2011
57    Feb-27-2011
51    Feb-21-2011
45    Feb-15-2011
39    Feb-09-2011
33    Feb-03-2011
27    Jan-28-2011
21    Jan-22-2011
15    Jan-16-2011
9     Jan-10-2011
3     Jan-04-2011
dtype: object

In [72]:
s = s.dt.strftime('%m-%d-%Y')[:5]
s.dt.year

AttributeError: Can only use .dt accessor with datetimelike values

### Period

A Period represents an interval or a span of time (e.g., a day, a month, a quarter, etc). You can specify the span via freq keyword using a frequency alias like below. Because freq represents a span of Period, it cannot be negative

In [74]:
p = pd.Period('2012', freq='A-DEC')
p

Period('2012', 'A-DEC')

In [75]:
p + 1

Period('2013', 'A-DEC')

In [76]:
p = pd.Period('2012-01', freq='2M')
p

Period('2012-01', '2M')

In [77]:
p + 2

Period('2012-05', '2M')

### PeriodIndex

Regular sequences of Period objects can be collected in a PeriodIndex

In [191]:
s = pd.Series(pd.period_range('20170101', periods=6))
s

0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
5   2017-01-06
dtype: object

In [193]:
s = pd.Series(pd.period_range('20170101', periods=6, freq='M'))
s

0   2017-01
1   2017-02
2   2017-03
3   2017-04
4   2017-05
5   2017-06
dtype: object

In [78]:
prng = pd.period_range('1/1/2011', '1/1/2012', freq='M')
prng

PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01'],
            dtype='period[M]', freq='M')

In [79]:
pd.PeriodIndex(start='2014-01', freq='3M', periods=4)
pd.PeriodIndex(['2011-1', '2011-2', '2011-3'], freq='M')

PeriodIndex(['2011-01', '2011-02', '2011-03'], dtype='period[M]', freq='M')

#### Using PeriodIndex to index Pandas object

In [81]:
ps = pd.Series(np.random.randn(len(prng)), prng)
ps

2011-01    0.123514
2011-02   -0.961358
2011-03   -0.971141
2011-04   -0.938846
2011-05   -0.286310
2011-06   -0.650414
2011-07    0.068830
2011-08   -0.999817
2011-09   -1.155913
2011-10   -0.056551
2011-11   -0.531155
2011-12   -0.023968
2012-01   -1.541019
Freq: M, dtype: float64

#### Addition and Subtraction

In [92]:
from pandas.tseries.offsets import *

idx = pd.period_range('2014-07-01 09:00', periods=5, freq='H')
idx

PeriodIndex(['2014-07-01 09:00', '2014-07-01 10:00', '2014-07-01 11:00',
             '2014-07-01 12:00', '2014-07-01 13:00'],
            dtype='period[H]', freq='H')

In [93]:
idx + Hour(2)

PeriodIndex(['2014-07-01 11:00', '2014-07-01 12:00', '2014-07-01 13:00',
             '2014-07-01 14:00', '2014-07-01 15:00'],
            dtype='period[H]', freq='H')

In [96]:
p = pd.period_range('2014-07', periods=5, freq='M')
p

PeriodIndex(['2014-07', '2014-08', '2014-09', '2014-10', '2014-11'], dtype='period[M]', freq='M')

In [97]:
p + MonthEnd(3)

PeriodIndex(['2014-10', '2014-11', '2014-12', '2015-01', '2015-02'], dtype='period[M]', freq='M')

### Resample

In [108]:
rng = pd.date_range('1/1/2011', periods=60, freq='5T') 
df = pd.DataFrame({'val': np.random.randint(0,50, size = len(rng))}, index = rng)
df.head()

                     val
2011-01-01 00:00:00   12
2011-01-01 00:05:00    4
2011-01-01 00:10:00   47
2011-01-01 00:15:00   26
2011-01-01 00:20:00   37

In [109]:
df.resample('H')

DatetimeIndexResampler [freq=<Hour>, axis=0, closed=left, label=left, convention=start, base=0]

In [127]:
df.resample('T').mean().ffill()[:5]

                      val
2011-01-01 00:00:00  12.0
2011-01-01 00:01:00  12.0
2011-01-01 00:02:00  12.0
2011-01-01 00:03:00  12.0
2011-01-01 00:04:00  12.0

In [111]:
df.resample('H').val.nlargest(3)

2011-01-01 00:00:00  2011-01-01 00:10:00    47
                     2011-01-01 00:35:00    39
                     2011-01-01 00:20:00    37
2011-01-01 01:00:00  2011-01-01 01:30:00    46
                     2011-01-01 01:40:00    39
                     2011-01-01 01:20:00    33
2011-01-01 02:00:00  2011-01-01 02:20:00    48
                     2011-01-01 02:15:00    47
                     2011-01-01 02:35:00    47
2011-01-01 03:00:00  2011-01-01 03:10:00    48
                     2011-01-01 03:55:00    47
                     2011-01-01 03:35:00    44
2011-01-01 04:00:00  2011-01-01 04:30:00    47
                     2011-01-01 04:50:00    47
                     2011-01-01 04:25:00    39
Name: val, dtype: int64

### Handling Timezones

By default, the pandas datetimes are Timezone unaware.

In [109]:
rng = pd.date_range('3/6/2012 00:00', periods=15, freq='D')

rng.tz is None

True

We can work with timestamps in different time zones using pytz and dateutil libraries.

In pytz you can find a list of common time zones using

In [121]:
from pytz import common_timezones, all_timezones
#common_timezones

#### Creating Timezone aware dates

In [113]:
rng_pytz = pd.date_range('3/6/2012 00:00', periods=10, freq='D', tz='Europe/London')
rng_pytz

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10', '2012-03-11', '2012-03-12', '2012-03-13',
               '2012-03-14', '2012-03-15'],
              dtype='datetime64[ns, Europe/London]', freq='D')

In [114]:
rng_pytz = pd.date_range('3/6/2012 00:00', periods=10, freq='D', tz='Asia/Kolkata')
rng_pytz

DatetimeIndex(['2012-03-06 00:00:00+05:30', '2012-03-07 00:00:00+05:30',
               '2012-03-08 00:00:00+05:30', '2012-03-09 00:00:00+05:30',
               '2012-03-10 00:00:00+05:30', '2012-03-11 00:00:00+05:30',
               '2012-03-12 00:00:00+05:30', '2012-03-13 00:00:00+05:30',
               '2012-03-14 00:00:00+05:30', '2012-03-15 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='D')

#### Localizing Timezone unaware(naive) dates

In [122]:
ts = pd.Series(np.random.randn(10), pd.date_range('3/6/2012 00:00', periods=10, freq='D'))
ts

2012-03-06   -0.194778
2012-03-07    0.263914
2012-03-08   -0.076767
2012-03-09   -0.939921
2012-03-10   -0.125736
2012-03-11   -1.203066
2012-03-12    0.159143
2012-03-13    0.110535
2012-03-14    0.299248
2012-03-15    1.233217
Freq: D, dtype: float64

In [126]:
ts.index = ts.index.tz_localize('UTC').tz_convert('Asia/Kolkata') # Universal Time Coordinated 
ts

2012-03-06 05:30:00+05:30   -0.194778
2012-03-07 05:30:00+05:30    0.263914
2012-03-08 05:30:00+05:30   -0.076767
2012-03-09 05:30:00+05:30   -0.939921
2012-03-10 05:30:00+05:30   -0.125736
2012-03-11 05:30:00+05:30   -1.203066
2012-03-12 05:30:00+05:30    0.159143
2012-03-13 05:30:00+05:30    0.110535
2012-03-14 05:30:00+05:30    0.299248
2012-03-15 05:30:00+05:30    1.233217
Freq: D, dtype: float64

### Manipulating date in ipl dataset

In [98]:
matches = pd.read_csv('matches.csv')
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [99]:
matches.date.dtype

dtype('O')

In [100]:
matches.date.dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [101]:
matches['date'] = pd.to_datetime(matches['date'])
matches['date'].dtype

dtype('<M8[ns]')

In [102]:
matches.date.dt.month

0      4
1      4
2      4
3      4
4      4
5      4
6      4
7      4
8      4
9      4
10     4
11     4
12     4
13     4
14     4
15     4
16     4
17     5
18     5
19     5
20     5
21     5
22     5
23     5
24     5
25     5
26     5
27     5
28     5
29     5
      ..
547    5
548    5
549    5
550    5
551    5
552    5
553    5
554    5
555    5
556    5
557    5
558    5
559    5
560    5
561    5
562    5
563    5
564    5
565    5
566    5
567    5
568    5
569    5
570    5
571    5
572    5
573    5
574    5
575    5
576    5
Name: date, Length: 577, dtype: int64

In [103]:
matches[matches.date.dt.month == 4].head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [104]:
matches.groupby(matches.date.dt.month)['win_by_runs'].mean()

date
3    18.517241
4    13.076628
5    13.908772
6     0.000000
Name: win_by_runs, dtype: float64

### Parse dates while loading csv

In [106]:
matches = pd.read_csv('matches.csv', parse_dates=['date'])
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [107]:
matches.date.dtype

dtype('<M8[ns]')