<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Data Analysis using Python Assignment Week 6 
### Digital Vidya Copyright

We get NSE stocks data using package nsepy. You will have to first install nsepy using the command pip install nsepy. 

Use function get_history, it fetches the price history of stocks/indices/derivatives and returns a pandas dataframe.

We are going to use data of 'INFY', 'HDFC', 'RELIANCE', 'WIPRO' 

We have created the dataframe hdfc for you using symbol = 'HDFC', create other dataframes using symbols given above.

Once we get the data, we will do some aggregations using pandas functions and datetime functionalities.

In [2]:
import pandas as pd
import numpy as np
from nsepy import get_history
import datetime as dt

start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

hdfc = get_history(symbol='HDFC', start = start, end = end)
hdfc.index = pd.to_datetime(hdfc.index)
hdfc.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,HDFC,EQ,1135.90,1130.0,1131.15,1120.10,1125.90,1124.00,1124.23,401576,4.514650e+13,11804,128793,0.3207
2015-01-02,HDFC,EQ,1124.00,1127.3,1176.95,1125.35,1171.05,1171.90,1159.93,2019816,2.342845e+14,59071,1258847,0.6232
2015-01-05,HDFC,EQ,1171.90,1168.8,1175.00,1150.40,1154.95,1156.40,1159.24,2219458,2.572880e+14,57749,1414720,0.6374
2015-01-06,HDFC,EQ,1156.40,1148.6,1148.60,1096.10,1098.00,1101.95,1117.84,2531748,2.830100e+14,81436,1547523,0.6112
2015-01-07,HDFC,EQ,1101.95,1097.5,1114.15,1095.00,1097.65,1099.25,1105.58,2406880,2.660992e+14,133109,1533304,0.6371

#### 1. In hdfc, drop all the columns except Open, High, Low and Close. Call the new df hdfc_ohlc

#### 2. Use the dataframe hdfc_ohlc created in qn 1 to create hdfc_mean with mean prices every year.

#### 3. Group the hdfc_ohlc to get the mean prices per week per year. The resulting dataframe hdfc_weekly should have mean price data for week 1 to 52 for years 2015, 2016 and 2017. 

Hint: You may have to groupby open_prices.index.week and open_prices.index.year to ensure that you get data per week per year.

#### 4. Create a dataframe infy and find total volumn by month, save it in infy_volume. Infy_volume should be a multi-index series with tow levels of index - Year and Month.

#### 5. Create a series infy_pctchange from the infy_volume dataframe created in qn 4. It should have two levels of index, Year and Month and the value should be % change in volume compared to the previous row.

#### 6. Create dataframe reliance, keep only columns PrevClose and Close and create a column diff which would be the difference between Close and PrevClose

#### 6. Create dataframe wipro and keep columns Open, High, Low, Close. Now find minimum close price each month by year.

#### 7. For wipro, find the number of days the close price was greater than open price

#### 8. Find the date in which wipro close price was maximum.

#### 9. Find dates when wipro close price was max year, what was the price? 
Hint: Read about idxmax